<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>358808913366-mlquphbfl63fbvn0u7brlq5nupgr4hgc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.358808913366-mlquphbfl63fbvn0u7brlq5nupgr4hgc</string>
	<key>API_KEY</key>
	<string>AIzaSyAI3ctGV64DzkQyxS2LWLt_J4yv9ooKbqA</string>
	<key>GCM_SENDER_ID</key>
	<string>358808913366</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mobileoop.mobilechat</string>
	<key>PROJECT_ID</key>
	<string>coastal-volt-800</string>
	<key>STORAGE_BUCKET</key>
	<string>coastal-volt-800.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:358808913366:ios:68647d3d2cf522e3a71077</string>
	<key>DATABASE_URL</key>
	<string>https://coastal-volt-800.firebaseio.com</string>
</dict>
</plist>